<div class="search-container">
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <span class="logo" routerLink="/">NGVGDB</span>
    <input
      class="search-input"
      name="search"
      placeholder="Seach +500K games"
      ngModel
    />
    <button class="search-button">Search</button>
  </form>
</div>
